<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifi's Coffee Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>

    <div class="container-lg">
        <header>
            <div class="row" style="border-bottom: 3px solid #04724dff;">
                <div class="col-sm-12 m-1" style="padding-top: 7.5px;"> 
                    <h4>FIFI's Coffee Shop</h4>

                </div>
            </div>
        </header>

        {{{body}}}

    </div>
    
</body>
</html>