<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifi's Coffee Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

    <style>
        body {
            background-color: #b2b09bff;
            color: #050401ff;
        }

        .myBtn:hover {
            background-color: transparent;
            color: #050401ff;
        }
    </style>
</head>
<body>

    <div class="container-lg">
        {{!-- <header>
            <div class="row" style="border-bottom: 3px solid #04724dff;">
                <div class="col-sm-12 m-1" style="padding-top: 7.5px;"> 
                    <h4>FIFI's Coffee Shop</h4>

                </div>
            </div>
        </header> --}}
        <section>
            <div class="row">
                <div class="col-sm my-3 mx-5">
                    <h4>Waiter: Lusanda</h4>
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm mt-4" style="text-align: center;">
                    <h5>Waiter's Availability</h5>
                </div>
                
            </div>
            <div class="row mb-4" style="width: 97.5%; margin: auto;">
                <div class="col-sm bg-light p-3">
                    Sunday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Monday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Tuesday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Wednesday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Thurday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Friday
                    <input class="m-2" type="checkbox">
                </div>
                <div class="col-sm bg-light p-3">
                    Saturday
                    <input class="m-2" type="checkbox">
                </div>
            </div>
        </section>

    </div>
    
</body>
</html>