<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifi's Coffee Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="container-lg">
        <section>
            <div class="row">
                <div class="col-sm-3  mx-3 my-4 card bg-dark">
                    <div class="card-header text-white">
                        <h5>Waiter</h5>
                    </div>
                    <div class="card-body text-white waiter-text">
                        <div class="waiter-img">
                            <img class="img-fluid" src="/images/waiter.png" alt="waiter">
                        
                        </div>
                        <h4>{{waiterName}}</h4>
                        
                    </div>
                </div>

                <div class="col-md-8 my-4 card">
                    <div class="card-header mb-2">
                        <h5>Waiter availability</h5>
                    </div>
                    <div class="card-body flex showcase">
                        <div class="theDays">
                            <form action="/shifts" method="POST">
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Sunday"><span class="m-2 dayText"><strong>Sunday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Monday"><span class="m-2 dayText"><strong>Monday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Tuesday"><span class="m-2 dayText"><strong>Tuesday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Wednesday"><span class="m-2 dayText"><strong>Wednesday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Thursday"><span class="m-2 dayText"><strong>Thursday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Friday"><span class="m-2 dayText"><strong>Friday</strong></span>
                                </div>
                                <div>
                                    <input class="m-2" type="checkbox" name="checkDays" value="Saturday"><span class="m-2 dayText"><strong>Saturday</strong></span>
                                </div>
                        </div>
                        <div class="update-btn flex">
                                <div class="saveBtn">
                                    <button class="btn myBtn" type="submit" name="button">Save</button>
                                </div>
                            </form>
                            
                            <div class="homeBtn">
                                <a class="btn myBtn" href="/">Home</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    
</body>
</html>